* {
  margin: 0;
  font-family: "Roboto";
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header,
.about,
.numbers,
.skills,
.video,
.projects,
.contact,
.footer {
  width: 100%;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.header {
  background-color: #eeeff1;
  height: 100vh;
}

.header__content {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  margin-bottom: 146px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 96px;
  max-height: 60px;
  margin-left: 30px;
}

.menu li {
  display: inline;
  padding-left: 42px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.menu li:hover {
  color: #34547a;
  cursor: pointer;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
  margin-left: auto;
  column-gap: 130px;
}

.header__frame {
  max-width: 357px;
  max-height: 233.7px;
}

.frame__image {
  width: 100%;
  height: 100%;
}

.header__description {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 60px;
  line-height: 26.25px;
}

.header__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
}

.header__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}

.button {
  height: 65px;
  width: 225px;
  background: #34547a;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 105px;
  margin-bottom: 105px;
  row-gap: 50px;
  max-width: 540px;
}

.about__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.about__text {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.25px;
  text-align: center;
  max-width: 540px;
}

.numbers {
  background-color: #34547a;
}

.numbers__content {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  column-gap: 49px;
}

.numbers__row {
  display: flex;
  column-gap: 49px;
}

.numbers__item {
  width: 141px;
  height: 50px;
}

.skills__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}

.skills__abilities {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 50px;
  max-width: 445px;
}

.abilities__list {
  list-style-type: none;
  padding: 0;
}

.abilities__list li {
  padding-bottom: 30px;
}

.abilities__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.abilities__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
}

.abilities__line {
  margin-top: 20px;
  height: 4px;
  width: 445px;
  max-width: 445px;
  border-radius: 0px;
  background: linear-gradient(to right, #34547a 78%, #c4c4c4 22%);
}

.skills__image {
  height: 450px;
  width: 555px;
  border-radius: 0px;
}

.video {
  background-color: #eeeff1;
}

.video__content {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  row-gap: 57px;
}

.video__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.video__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.video__text {
  max-width: 540px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #727272;
}

.video__images {
  max-height: 600px;
  max-width: 1110px;
  border-radius: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__image {
  width: 100%;
  height: 100%;
}

.play__button {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
}

.projects__content {
  max-height: 960px;
  max-width: 100%;
  margin: 28px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects__image {
  width: 100%;
  height: 100%;
}

.projects__images {
  width: 25%;
  min-width: 25%;
  position: relative;
}

.image__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #34547a;
}

.image__view {
  max-width: 100px;
  max-height: 100px;
}

.projects__images:hover .image__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 80%;
}

.contact {
  background-color: #eeeff1;
}

.contact__content {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  align-items: center;
  max-width: 540px;
}

.contact__title {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 50px;
}

.contact__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #727272;
  margin-bottom: 65px;
}

.contact__input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 540px;
}

.input__name,
.input__email {
  border: none;
  width: 50%;
  height: 50%;
  max-width: 235px;
  min-height: 50px;
  padding-left: 20px;
  padding-top: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}

.contact__message {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 520px;
  min-height: 175px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  border: none;
  resize: none;
  padding-left: 20px;
  padding-top: 17px;
}

.footer {
  height: 151px;
  background-color: #34547a;
}

.footer__content {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.footer__title {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.footer__icon {
  height: 22.82px;
  width: 43.75px;
  border-radius: 0px;
  margin-left: 22px;
}

@media (max-width: 1279px) {
  * {
    margin: 0;
  }

  .menu {
    display: none;
  }

  .header__logo {
    margin-bottom: 67px;
  }

  .header__frame {
    margin: auto 39px;
    margin-bottom: 51px;
  }

  .header__info {
    flex-direction: column;
    margin: 0;
  }

  .header__description {
    align-items: center;
    margin: auto 27px;
  }

  .header__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }

  .header__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }

  .about__content {
    margin-left: 26px;
    margin-right: 26px;
  }

  .about__text {
    line-height: 19.2px;
  }

  .numbers__content {
    flex-direction: column;
    align-items: center;
    margin: 74px 19px;
  }

  .skills__abilities {
    display: none;
  }

  .skills__content {
    flex-direction: column-reverse;
    row-gap: 98px;
    margin: auto 18px;
  }

  .skills__image {
    width: 80%;
    min-width: 80%;
    height: 80%;
    min-height: 80%;
    border-radius: 0px;
  }

  .video__info {
    justify-content: space-between;
    margin: auto 18px;
  }

  .projects__content {
    max-width: 100%;
    max-height: 100%;
  }

  .projects__images {
    width: 50%;
  }

  .image-1 {
    order: 0;
  }

  .image-2 {
    order: 1;
  }

  .image-3 {
    order: 3;
  }

  .image-4 {
    order: 2;
  }

  .image-5 {
    order: 5;
  }

  .image-6 {
    order: 4;
  }

  .image-7 {
    order: 6;
  }

  .image-8 {
    order: 7;
  }

  .projects__images:hover .image__overlay {
    display: none;
  }

  .contact__content {
    justify-content: center;
    width: 90%;
  }

  .contact__input {
    flex-direction: column;
    row-gap: 22px;
  }

  .contact__message {
    width: 95%;
  }

  .input__email,
  .input__name {
    width: 95%;
    max-width: 520px;
  }

  .footer {
    height: 210px;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer__title,
  .footer__text {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__icon {
    margin: 30px auto;
  }
}
